/*!
 * Casting Stylesheet
 */

#profile-casting-list { margin-bottom: 30px; }
#search-job { position: relative; }
#search-job #field select { width: 100%; padding: 10px; }
#search-job #action { position: absolute; top: 0; right: 0; }
#search-job #action input { margin-left: 10px; }
.result-action { margin: 15px 0; overflow: hidden; }
.result-action > input[type="button"] { float: right; margin-left: 10px; padding: 0; border: none; }
.result-action > label { float: left; margin-right: 10px; }
.result-action > label input[type="checkbox"] { margin: 0; }
.result-action form { float: left; }
.result-action form .action input { margin-right: 10px; }
#checkavailabilityForm { overflow: hidden; margin-bottom: 15px; }
#rbdashboard #profile-info .links { margin: 30px 0; }

#job-postings td.column-JobActions { font-size: small; line-height: normal; }
#job-postings td.column-JobActions a { display: inline-block; margin-bottom: 5px; color: #333; padding: 3px 7px; background-color: #ddd; border-radius: 3px; border: 1px solid #ccc; font-size: smaller; }
#job-postings td.column-JobActions a:hover { background-color: #ccc; }

#job-applicants .photo.no-image { width: 80px; height: 80px; background: #333; color: #fff; line-height: 80px; font-size: small; text-align: center; }
#job-applicants td.column-JobTitle span.id { font-size: small; }
#job-applicants td.column-JobAction { line-height: normal; font-size: small; }
#job-applicants td.column-JobAction a { margin-bottom: 5px; display: inline-block; border: none }
#job-applicants td.column-JobAction p { margin-bottom: 5px; }
#job-applicants td.column-JobAction input[type="button"] { margin-top: 5px;  }

.table-filter { width: 100%; margin-bottom: 15px; }
.table-filter td { background: transparent; }
#jobposting-filter .table-filter td:first-child { padding-right: 0; }
.table-filter td:last-child { padding-right: 0; vertical-align: bottom; }
.table-filter td { padding-right: 10px; }
.table-filter .tdbox { width: 50%; float: left; padding-right: 10px; }
.table-filter select,
.table-filter input { width: 100%; box-sizing: border-box; }

.rbtable { width: 100%; }
.rbtable th,
.rbtable td { border: 1px solid #ccc; padding: 5px; }
.rbtable th { background: #e6e6e6; color: #333; }
.rbtable td { color: #666; background-color: #fff; }
.rbtable td p { text-align: center; padding: 30px 0; margin: 0 }

#job-postings table { width: 100%; }
#job-postings footer { margin-top: 15px; overflow: hidden; }
#job-postings footer p { text-align: right; padding-top: 15px; clear: both; }
#jobposting-pagination { float: right; margin-bottom: 15px; }
.jobposting-actions { float: left; }
.jobposting-actions select { float: left; }
.jobposting-actions input[type="submit"],
.jobposting-actions input[type="button"] { float: left; border: 1px solid #fff; padding: 5px 13px; font-weight: normal; margin-left: 10px; }
.jobposting-actions input:first-child { margin-left: 0px; }
.rbpagination select { float: left; height: 30px; }
footer .footer-links { float: right; clear: right; }

#job-applicants { margin-bottom: 15px; }

/*#rbdashboard #profile-info ul li a{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#rbdashboard #profile-info ul li a::-moz-focus-inner{padding:0;border:0}
#rbdashboard #profile-info ul li a{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}
#rbdashboard #profile-info ul li a:hover,
#rbdashboard #profile-info ul li a:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}
#rbdashboard #profile-info ul li a:focus{outline:0}
#rbdashboard #profile-info ul li a:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}*/

/*Job Auditions*/
#job-auditions .job-audition { position: relative; overflow: hidden; margin-bottom: 30px; background: #fff; box-shadow: 0 0 5px #aaa; text-align: center; padding: 30px 0; }
#job-auditions .job-audition a { text-decoration: none; border: none; }
#job-auditions .job-audition .ja-thumbnail,
#job-auditions .job-audition .ja-content,
#job-auditions .job-audition .ja-footer { padding: 15px; }
#job-auditions .job-audition .ja-thumbnail img { max-width: 120px; display: inline-block; }
#job-auditions .job-audition .ja-content h3 { margin: 0; display: inline-block; line-height: normal; margin-bottom: 15px; }
#job-auditions .job-audition .ja-content p { line-height: normal; margin-bottom: 10px; }
#job-auditions .job-audition .ja-content p:last-child { margin-bottom: 0; }
#job-auditions .job-audition .ja-content .ja-date { font-style: italic; font-size: small; }
#job-auditions .job-audition .ja-footer > a { padding: 5px 10px; border: 1px solid #aaa; border-radius: 3px; }
#job-auditions .job-audition .ja-footer .ja-share { margin-top: 15px; }
#job-auditions .job-audition .ja-footer .ja-share iframe { margin-bottom: 0; }


/*Job Types List Links*/
#job-types { padding: 30px; background: #999; }
#job-types ul { list-style: none; text-align: center; margin: 0; }
#job-types ul li { display: inline-block; margin-bottom: 10px; }
#job-types ul li a { display: inline-block; padding: 5px 15px; background: #666; color: #fff; text-decoration: none; }


/*Job Details*/
#job-details { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; overflow: hidden; padding: 15px 0; }
#job-details > div table,
#job-details > div table td { border: none; }
#job-details > div table { margin-bottom: 0; }
#job-details #how-to-apply table { margin-bottom: 15px; }
#job-details #how-to-apply input { margin-bottom: 10px; }


/* JQueryUI Dialog/Popup */
.ui-widget-overlay { background: rgba(0,0,0,0.7)!important; opacity: initial!important; }


/*Media Query*/
@media (min-width: 544px) {

}

@media (min-width: 768px) {
	#job-auditions .job-audition { text-align: left; padding: 0; }
	#job-auditions .job-audition .ja-thumbnail,
	#job-auditions .job-audition .ja-content,
	#job-auditions .job-audition .ja-footer { padding: 24px; }
	#job-auditions .job-audition .ja-thumbnail { float: left; }
	#job-auditions .job-audition .ja-thumbnail img { display: block; }
	#job-auditions .job-audition .ja-content { padding-left: 170px; padding-right: 170px; }
	#job-auditions .job-audition .ja-footer { position: absolute; top: 0; right: 0; padding-top: 75px; width: 200px; text-align: right; }
	#job-auditions .job-audition .ja-footer .ja-share { position: absolute; top: 15px; right: 15px; margin-top: 0px; }

	/*Job Details*/
	#job-details { padding: 0; }
	#job-details > div { float: left; width: 50%; padding: 20px; }		
	#job-details #how-to-apply { border-left: 1px solid #ddd; }
	#job-details > div table { margin-bottom: 15px; }
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}
