/*!
 * Casting Stylesheet
 */

#profile-casting-list { margin-bottom: 30px; }
#search-job #field { margin-bottom: 10px; }
#search-job #action input { margin-right: 10px; }
.result-action { margin: 30px 0; overflow: hidden; }
.result-action form { float: right; }
.result-action input#sendProfiles { float: right; }
.result-action input#checkavailability { float: left; clear: right; }
.result-action input { background: transparent; padding: 0; margin: 0 5px; color: #333; }
.result-action input:hover { background: transparent; }
#checkavailabilityForm { overflow: hidden; margin-bottom: 15px; }
#rbdashboard #profile-info .links { margin: 30px 0; }

#job-postings th,
#job-postings td { padding: 5px; }
#job-postings td.column-JobActions { font-size: small; line-height: normal; }
#job-postings td.column-JobActions a { display: inline-block; margin-bottom: 5px; border: none; }

#job-applicants .photo.no-image { width: 80px; height: 80px; background: #333; color: #fff; line-height: 80px; font-size: small; text-align: center; }
#job-applicants td.column-JobTitle span.id { font-size: small; }
#job-applicants td.column-JobAction { line-height: normal; font-size: small; }
#job-applicants td.column-JobAction a { margin-bottom: 5px; display: inline-block; border: none }
#job-applicants td.column-JobAction p { margin-bottom: 5px; }
#job-applicants td.column-JobAction input[type="button"] { margin-top: 5px;  }

#jobposting-filter { margin-bottom: 15px; }
#jobposting-filter table { width: 100%; }
#jobposting-filter td { padding: 0 5px; vertical-align: top; }
#jobposting-filter td:last-child { vertical-align: middle; }
#jobposting-filter td select { margin-bottom: 5px; }
#jobposting-filter td select, input[type="text"] { width: 100%; }

/*#rbdashboard #profile-info ul li a{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#rbdashboard #profile-info ul li a::-moz-focus-inner{padding:0;border:0}
#rbdashboard #profile-info ul li a{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}
#rbdashboard #profile-info ul li a:hover,
#rbdashboard #profile-info ul li a:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}
#rbdashboard #profile-info ul li a:focus{outline:0}
#rbdashboard #profile-info ul li a:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}*/